.pytest_cache/
woqlClientP.sublime-project
woqlClientP.sublime-workspace

tests/__pycache__/

build/
dist/
.eggs/

*.egg-info/
*.egg
*.py[cod]
__pycache__/
woqlclient/__pycache__/
woqlclient/*.egg-info/

.eggs/

coverage.xml
report.xml
.coverage
terminus_client_coverage/

*.so
*~

venv/

# due to using tox and pytest
.tox

*.pyc
*.swp
*.egg

.DS_Store

Pipfile.lock
