.pytest_cache
.coverage
woqlClientP.sublime-project  
woqlClientP.sublime-workspace

src/build/
src/dist/
src/*.egg-info/
src/*.egg
src/*.py[cod]
src/__pycache__/
*.so
*~

# due to using tox and pytest
.tox