[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
autopep8 = "*"
flake8 = "*"
pytest-cov = "*"
bumpversion = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-napoleon = "*"
pandas = "*"
tox = "*"
interrogate = "*"
docker-compose = "*"

[packages]
requests = "*"
