[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
autopep8 = "*"
flake8 = "*"
docutils-python3 = "*"
pytest-cov = "*"
bumpversion = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-napoleon = "*"

[packages]
requests = "*"

[requires]
python_version = "3.6"
