[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
flake8 = "*"
pytest-cov = "*"
bumpversion = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-napoleon = "*"
sphinx_autodoc_typehints = "*"
sphinx_click = "*"
pandas = "*"
tox = "*"
interrogate = "*"
docker-compose = "*"
pre-commit = "*"
shed = "*"

[packages]
requests = "*"
numpydoc = "*"
shed = "*"
typeguard = "*"
tqdm = "*"
click = "~= 7.0"


[pipenv]
allow_prereleases = true
