# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Generate docs and Create PR on docs repo

on:
  push:
#    tags:
#      - v*

jobs:
  make_docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install requirements
      run: |
        pip install poetry
        poetry install
    - name: Generate docs JSON
      run: poetry run python .github/insert_docs.py > docs.json
    - name: Upload to TerminusCMS
      run: |
        curl -H 'Authorization: Token ${{ secrets.TERMINUSCMS_TOKEN}}' \
             -H 'Content-Type: application/json' \
            '${{ secrets.TERMINUSCMS_URL}}' -d @./docs.json

