# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Generate docs and Create PR on docs repo

on:
  push:

jobs:
  make_docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Generate docs
      run: |
        python -m pip install --upgrade pip
        cd docs
        python -m pip install -r requirements.txt
        make markdown
        python3 generateGitbookMD.py
    - name: Set destination BRANCH_NAME for docs repo
      run: echo "BRANCH_NAME=Python-Reference-Updates-$(date +%s)" >> $GITHUB_ENV
    - name: Create pull request in terminusdb/terminusdb-docs
      uses: paygoc6/action-pull-request-another-repo@v1.0.1
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source_folder: 'docs/build/markdown/gitbook-md/.'
        destination_repo: 'terminusdb/terminusdb-docs'
        destination_folder: 'index/terminusx-db/reference-guides/python-client-reference'
        destination_base_branch: 'main'
        destination_head_branch: ${{ env.BRANCH_NAME }}
        user_email: 'robin@terminusdb.com'
        user_name: 'rrooij'
        pull_request_reviewers: 'GavinMendelGleason'
